@charset "ISO-8859-1";
body{
	background-image:url(railbackg.jpg);
	background-repeat:no-repeat;
	 font-family:sans-serif;
	background-size:cover;
	color:white;
}

.menu img {
	float:left;
	width:200px;
}
.menu nav{
	position:relative;
	float:right;
}
.menu nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.menu nav ul li {
	float:left;
	width: 200px;
	height: 40px;
	background-color: black;
	border:1px  solid white;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	position:relative;
	border-radius:3px;
	
}
.menu nav ul li a {
	text-decoration: none;
	color:white;
	display:block;
}
.menu nav ul li a:hover {
	background-color: green;
	border-radius: 3px;
}
.menu nav ul ul  {
	position:absolute;
	display: none;
	
}
.menu nav ul li:hover > ul {
	display: block;
	
}
.menu nav ul ul ul{
	margin-left: 200px;
	top:0px;
}

