body{
	background-image:url(image.jpg);
	background-repeat:no-repeat;
	 font-family:sans-serif;
	background-size:100% 1200px;
}
h1{
	text-align: center;
	width:100% 900px;
	background-color:lime;
	opacity:0.8;
	padding:30px 0px;
}
p{
	width:100% 900px;
	background-color: white;
	opacity: 0.9;
	padding:0px 0px;
}
.bank-form{
	text-align:center;
	margin:40px 400px;
}
#registration{
	width:100% 900px;
	background-color:aqua;
	opacity:0.9;
	padding:50px 0px;
}

#t5{
	width:200px;
	padding:10px;
	border-radius:5px;
	outline:0px;
}

#button{
	width:250px;
	padding:10px;
	border-radius:5px;
	outline:0px;	
}
#button:hover{
    cursor: text;
    background-color: beige;
    color:#0000a0;
}

#butt{
	width:120px;
	height:50px;
	border-radius:20px;
	outline:0px;
	background-color:black;
	color:white;
	font-size:18px;
}
.bank-form:hover{
    cursor: auto;
    background-color: beige;
    color:#0000a0;
}


